## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Reading data

link:- https://www.kaggle.com/datasets/gokulrajkmv/indian-statewise-data-from-rbi

In [10]:
df = pd.read_csv(r"C:\Users\HP\Downloads\India_Crime -Zip\downlode file\RBI DATA states_wise_population_Income.csv")
df.head()

,States_Union Territories,2000-01-INC,2011-12-INC,2001 - LIT,2011- LIT,2001 - POP,2011- POP,2001 -SEX_Ratio,2011 -SEX_Ratio,2001 -UNEMP,2011 -UNEMP,2001 -Poverty,2011 -Poverty
0,Andaman and Nicobar Islands,25047,89642,81.30,86.63,356,381,846,876,34,54,20.99,1.00
1,Andhra Pradesh,17195,64773,60.47,67.02,76210,84581,978,993,8,12,15.77,9.20
2,Arunachal Pradesh,15260,71366,54.34,65.39,1098,1384,893,938,5,17,33.47,34.67
3,Assam,12803,36320,63.25,72.19,26656,31206,935,958,39,45,36.09,31.98
4,Bihar,6415,22582,47.00,61.80,82999,104099,919,918,18,32,42.60,33.74

* link:- https://www.kaggle.com/datasets/rushikeshlavate/states-and-union-territories-of-india-by-area?resource=download
* Also edited in excel

In [15]:
df_area = pd.read_csv(r"C:\Users\HP\Downloads\List of states and union territories of India by area.csv")
df_area.head()

  States_Union Territories Area (km2)  National Share (%)
0                Rajasthan   3,42,239               10.42
1           Madhya Pradesh   3,08,252                9.37
2              Maharashtra   3,07,713                9.36
3            Uttar Pradesh   2,40,928                7.33
4                  Gujarat   1,96,024                5.96

In [17]:
df_new = pd.merge(df,df_area,on="States_Union Territories")
df_new.head()

,States_Union Territories,2000-01-INC,2011-12-INC,2001 - LIT,2011- LIT,2001 - POP,2011- POP,2001 -SEX_Ratio,2011 -SEX_Ratio,2001 -UNEMP,2011 -UNEMP,2001 -Poverty,2011 -Poverty,Area (km2),National Share (%)
0,Andaman and Nicobar Islands,25047,89642,81.30,86.63,356,381,846,876,34,54,20.99,1.00,"8,249",0.25
1,Andhra Pradesh,17195,64773,60.47,67.02,76210,84581,978,993,8,12,15.77,9.20,"1,60,205",4.87
2,Arunachal Pradesh,15260,71366,54.34,65.39,1098,1384,893,938,5,17,33.47,34.67,"83,743",2.54
3,Assam,12803,36320,63.25,72.19,26656,31206,935,958,39,45,36.09,31.98,"78,438",2.38
4,Bihar,6415,22582,47.00,61.80,82999,104099,919,918,18,32,42.60,33.74,"94,163",2.86

**Here we have only two year data 2001 and 2011 beacuse population count happend in each 10 years that's why we have only two year data**